################################################################################

# ad-hoc

/lxplus8_home/
/check-eos.yml
/dispatch-check-eos.yml
/.conda/
/secrets/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride
