################################################################################
#
################################################################################

apiVersion: v1
kind: Pod
metadata:
  name: always-succeeds
spec:
  containers:
    - name: main
      image: bash:5.0.17
      command:
        - /usr/local/bin/bash
        - /mnt/func-tests-src/src/script/test/always_succeeds.sh
      env:
        - name: source_path
          value: /mnt/func-tests-src
      resources:
        requests:
          memory: "1Gi"
          cpu: "500m"
        limits:
          memory: "4Gi"
          cpu: "1"
      volumeMounts:
        - name: func-tests-src
          mountPath: /mnt/func-tests-src
          readOnly: true
  volumes:
    - name: func-tests-src
      configMap:
        name: func-tests-src
        items: []
