################################################################################
#
################################################################################

apiVersion: v1
kind: Pod
metadata:
  name: always-fails
spec:
  restartPolicy: Never
  containers:
    - name: main
      image: bash:5.0.17
      command: [/usr/local/bin/bash]
      args:
        - "!ch.cern{source_path}/src/scenario/always_fails.sh"
      env:
        - name: source_path
          value: "!ch.cern{source_path}"
      resources:
        requests:
          memory: "1Gi"
          cpu: "500m"
        limits:
          memory: "4Gi"
          cpu: "1"
      volumeMounts:
        - name: func-tests-src
          mountPath: "!ch.cern{source_path}"
  initContainers:
    - name: clone-source
      image: alpine/git
      args:
        - clone
        - "https://oauth2:!ch.cern{gitlab_token}@!ch.cern{gitlab_url}"
        - --branch
        - vitorsrg
        - --single-branch
        - --depth
        - "1"
        - "!ch.cern{source_path}"
      resources:
        requests:
          memory: "1Gi"
          cpu: "1"
        limits:
          memory: "4Gi"
          cpu: "2"
      volumeMounts:
        - name: func-tests-src
          mountPath: "!ch.cern{source_path}"
  volumes:
    - name: func-tests-src
      emptyDir: {}
