################################################################################
#
################################################################################

apiVersion: v1
kind: Pod
metadata:
  name: func-tests-src-port
spec:
  containers:
    - name: alpine
      image: alpine:latest
      command:
        - "sleep"
        - "infinity"
      resources:
        requests:
          memory: "256Mi"
          cpu: "500m"
        limits:
          memory: "1Gi"
          cpu: "1"
      volumeMounts:
        - name: func-tests-src
          mountPath: /mnt/func-tests-src
          readOnly: false
  volumes:
    - name: func-tests-src
      persistentVolumeClaim:
        claimName: func-tests-src
