################################################################################
#
################################################################################

{% from "./resource/k8s/tpl/clone_source.yml.jinja" import clone_source %}

################################################################################

apiVersion: v1
kind: Pod
metadata:
  name: k8s-eos
spec:
  restartPolicy: Never
  securityContext:
    seLinuxOptions:
      type: "spc_t"
  containers:
    - name: main
      image: bash:5.0.17
      imagePullPolicy: IfNotPresent
      workingDir: /mnt/func_tests/
      command: [/usr/local/bin/bash]
      args:
        - "./func_test/k8s/eos/main.sh"
      env:
        - name: source_path
          value: /mnt/func_tests/
      resources:
        requests:
          memory: "1Gi"
          cpu: "500m"
        limits:
          memory: "4Gi"
          cpu: "1"
      volumeMounts:
        - name: func-tests-src
          mountPath: /mnt/func_tests/
          readOnly: true
        - name: eos
          mountPath: /eos
          mountPropagation: HostToContainer
  initContainers:
    - {{
          clone_source(
              gitlab_token, gitlab_url, git_branch)
          | indent(6, False)
      }}
  volumes:
    - name: func-tests-src
      emptyDir: {}
    - name: eos
      hostPath:
        path: /var/eos
